.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.swp
*.lock
*.tmp
*.bak
*.sublime-workspace
node_modules
.vs/

.idea/
*.sln.iml
*.userprefs
.idea_modules/
.idea/httpRequests/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/deployment.xml
.idea/assetWizardSettings.xml
.idea/.idea/
.idea/caches/
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/scopes/
.idea/compiler.xml
.idea/vcs.xml
.idea/runConfigurations/
.idea/webResources.xml

bin/
obj/
out/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.userosscache
*.suo
*.sln.docstates
.env
